*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient( 180deg, #020617, #0f172a);
    margin: 0;
    width: 100%;
}
