<div class="game-root">
  <header class="top-bar">
    <h1>Simulação Legislativa</h1>
  </header>

  <div class="board">

    <!-- Jogador -->
    <aside class="panel player" style="padding-left: 50px;">
      <h2>Você</h2>

      <div class="stats">
        <div><b>Tem reunião:</b> {{ estadoJogador.tem_reuniao ? 'Sim' : 'Não' }}</div>
        <div><b>Em reunião:</b> {{ estadoJogador.em_reuniao ? 'Sim' : 'Não' }}</div>
        <div><b>Faltas:</b> {{ estadoJogador.faltas }}</div>

        <label>Popularidade</label>
        <progress max="10" [value]="estadoJogador.popularidade"></progress>

        <label>Transparência</label>
        <progress max="10" [value]="estadoJogador.transparencia"></progress>

        <label>Informação</label>
        <progress max="10" [value]="estadoJogador.informacao"></progress>

        <label>Crise</label>
        <progress class="crise" max="10" [value]="estadoJogador.crise"></progress>

        <div><b>Desempenho:</b> {{ estadoJogador.desempenho }}</div>
        <div><b>Orçamento aprovado:</b> {{ estadoJogador.orcamento_aprovado ? 'Sim' : 'Não' }}</div>
        <div><b>Verba:</b> {{ estadoJogador.verba | currency:'BRL':'symbol':'1.2-2' }}</div>
      </div>

      <h3>Ações do dia</h3>
      <ul class="timeline">
        <li *ngFor="let acao of estadoJogador.acoes_dia">
          <strong>{{ acao.nome }}</strong>
        </li>
      </ul>

    </aside>

    <!-- Cena -->
    <main class="scene">
      <div style="width: 100%; text-align: center; font-size: 26px;"><p><b>Dia:</b> {{ estadoJogador.dia }}</p></div>
      <img src="/personagens.png" alt="Deputados" style="width: 1500px;">
    </main>

    <!-- Agente -->
    <aside class="panel agent"  style="padding-right: 50px;">
      <h2>Oponente</h2>

      <div class="stats">
        <div><b>Tem reunião:</b> {{ estadoAgente.tem_reuniao ? 'Sim' : 'Não' }}</div>
        <div><b>Em reunião:</b> {{ estadoAgente.em_reuniao ? 'Sim' : 'Não' }}</div>
        <div><b>Faltas:</b> {{ estadoAgente.faltas }}</div>

        <label>Popularidade</label>
        <progress max="10" [value]="estadoAgente.popularidade"></progress>

        <label>Transparência</label>
        <progress max="10" [value]="estadoAgente.transparencia"></progress>

        <label>Informação</label>
        <progress max="10" [value]="estadoAgente.informacao"></progress>

        <label>Crise</label>
        <progress class="crise" max="10" [value]="estadoAgente.crise"></progress>

        <div><b>Desempenho:</b> {{ estadoAgente.desempenho }}</div>
        <div><b>Orçamento aprovado:</b> {{ estadoAgente.orcamento_aprovado ? 'Sim' : 'Não' }}</div>
        <div><b>Verba:</b> {{ estadoAgente.verba | currency:'BRL':'symbol':'1.2-2' }}</div>
      </div>

      <h3>Ações do agente</h3>
      <ul class="timeline">
        <li *ngFor="let acao of acoesAgenteExecutadas">
          <strong>{{ acao.nome }}</strong>
        </li>
      </ul>
    </aside>

  </div>
</div>

<div class="actions">
  <p style="color:white; width: 100%">Escolha uma ação:</p>
  <button
    *ngFor="let acao of acoes"
    (click)="executarAcao(acao.nome)">
    {{ acao.descricao }}
  </button>
</div>
